* {
  margin: 0;
  padding: 0;
}
#content {
  min-height: calc(100vh - 55px);
}


ul {padding-left: 5px;}
li {list-style-type: none;}
td, th {text-align: center;
		text-align: -webkit-center !important;
	}

header {
	padding-top: 15px;
	height: 45px;
	color: #444;
	font-size: 23px;
	font-weight: bolder;
}

.header-chain {
	background: url(../images/chain.png) 0 0; 
	background-size: 160px;
	height: 20px;
	margin-top: 5px;
}

.header-title {
	text-align: right;
}

.line {
	margin-top: 15px;
	height: 5px;
	background-color: #9e9ecb;
}
/* ----- header End ----- */

.text-help {
	margin-top: 50px;
	font-family: Tahoma,sans-serif;
	font-size: 14px;
}

.section-text {
	margin-top: 5%;
	color: #333;
	font-size: 18px;
	font-style: italic;
}


.table_block, input {
	color: #1d1d68;
	background: #eee;
	box-shadow: 1px 1px 5px #aaa;
	padding: 4px 15px;
	font-family: 'Tahoma';
}

.chekbox_block{
	color: #1d1d68;
	background: #eee;
	box-shadow: 1px 1px 5px #aaa;
	padding: 4px 5px;
	font-family: 'Tahoma';
}
/* ----- form Begin ----- */
.section_form {
	margin-top: 40px;
	font-size: 17px;
}

.section_form div {
	margin-top: 10px;
	margin-bottom: 15px;
}
.login_form {
	padding: 10px;
	width: 100%;
	background: rgb(250, 250, 250);
	box-shadow: 1px 1px 5px #aaa;
}

.login_form-button {

	margin: 3% 1% 0 65%;

}
/* ----- form End ----- */


/* ----- adding Begin ----- */
.adding-title {
	font-size: 17px;
	font-weight: bold;
	text-decoration: underline;
}

.adding_list {
	margin-top: 20px;
	/*position: absolute;*/
	font-size: 17px;
	width: 100%;
	background: rgb(250, 250, 250);
	box-shadow: 1px 1px 5px #aaa;
	padding: 10px;
	margin-bottom: 20px;
}

.adding_list div {
	margin-top: 10px;
	margin-bottom: 15px;
}

.adding_list .row {
	margin-bottom: 0;
	margin-top: 0;
}

/* ----- adding End ----- */

.content_block {
	margin-top: 30px;
	font-size: 17px;
	width: 100%;
	background: rgb(250, 250, 250);
	box-shadow: 1px 1px 5px #aaa;
	padding: 10px;
}

.table_block {
	margin-top: 10px;
	font-size: 17px;
	width: 100%;
	padding: 10px;
	display: inline-block;
	color: #1d1d68;
	background: #eee;
	box-shadow: 1px 1px 5px #aaa;
	padding: 4px 15px;
	font-family: 'Tahoma';
}

.requisites_block {
	margin-top: 10px;
	font-size: 17px;
	width: 100%;
	padding:0 10px;
	display: inline-block;
	color: #1d1d68;
	background: #eee;
	box-shadow: 1px 1px 5px #aaa;
	padding-bottom: 15px;
	font-family: 'Tahoma';
}

.chekbox_block {
	position: relative;
	top: -14px;
	font-size: 17px;
	width: 100%;
}

.chekbox_block input[type=checkbox]{
	margin: 0 20px 0 20px;
}
/* ----- footer Begin ----- */
.footer-help {
	text-align: right;
}

#key2{
 display: none;
}
#height1 {
	height: 330px;
	overflow-x: auto;
}

.footer_notes{
	margin-top: 35px;
}

.note {
	font-size: 12px;
	padding: 0 25px;
	margin-bottom: 0;
} 

/*tooltips Begin*/
.ttip {
	position: relative;
	}
.ttip em {
	display: none;
	}
.ttip:hover em {
	width: 400px;
	font-style: normal;
	font-size: 13px;
	display: block;
	position: absolute;
 	background: #ddd;
	color: #333;
	padding: 3px 5px;
	bottom: 30px;
	right: -15px;
	box-shadow: 3px 3px 5px #aaa;
 	border-radius: 5px;
	-webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
	-webkit-box-shadow: 3px 3px 5px #aaa;
	-moz-box-shadow: 3px 3px 5px #aaa;
}

@media screen and (max-width: 992px) {
	.ttip:hover em {
		left: 10px;
	}
}
/*tooltips End*/
#logoutButtonId {
	margin-top: -25px;
	float: right;
}
#logoutButtonId input{
	float: right;
	padding: 0 15px !important;
	font-size: 17px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.log_text {
	font-size: 15px;
	font-weight: normal;
	float: right;
}

.log_user {
	float: right;
	color: dodgerblue;
	margin-left: 4px;
}

#takeAnotherLogin {
	color: red;
	margin-bottom: 0 !important;
}