<footer>
    <div id="footer">
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <ul id="footer_menu">
                    <li>
                        <a href="/" > <%= news %></a>
                        <a href="/about_us_page"><%= aboutUs %></a>
                        <a href="/"><%= forCustomers %></a>
                        <a href="/contacts"><%= contacts %></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div class="ya-share2" data-services="facebook,gplus,twitter,linkedin" data-counter=""></div>
                <div id="copyright">&copy; a3boot 2016</div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/js/sizeButtons.js"></script>
</footer>