<header>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9"></div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

            <a href="/en"> <span class="<%= bracketsEn %>">[</span><span class="<%= buttonEn %>">ENG</span> <span class="<%= bracketsEn %>">]</span></a>
            <a href="/ua"> <span class="<%= bracketsUa %>">[</span><span class="<%= buttonUa %>">УКР</span> <span class="<%= bracketsUa %>">]</span></a>
            <a href="/ru"> <span class="<%= bracketsRu %>">[</span><span class="<%= buttonRu %>">РУС</span> <span class="<%= bracketsRu %>">]</span></a>

    </div>
        <p id="paragraph"></p>
    </div>
            <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

            <span id="site_logo">a<span id="namber3">3</span>boot</span>

        </div>
        <nav>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                <ul id="top_menu">
                    <li><a href="/"><span class="bracket">[</span><%= home %><span class="bracket">]</span></a></li>
                    <li><a href="/about_us_page"><span class="bracket">[</span><%= aboutUs %><span class="bracket">]</span></a></li>
                    <li><a href="/for_klients"><span class="bracket">[</span><%= forCustomers %><span class="bracket">]</span></a></li>
                    <li><a href="/contacts"><span class="bracket">[</span><%= contacts %><span class="bracket">]</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>
    </div>
</header>