<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blockchain</title>
    <script type="text/javascript" src="/javascripts/IndexScripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
</head>
<body>
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="header-title">Energy Industry KYC</div>
            </div>
            <div class="col-md-4 col-sm-2">
                <div  class="header-chain"></div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div>Shared Ledger</div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div id="logoutButtonId"><%- logoutButton %></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="line"> </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="adding_list">
                    <div class="list-title h3">Add Counterparty</div>
                    <form>
                        <div class="row">
                            <div class="col-md-6 h4">
                                Counterparty's Name:
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="buttons" name="" id="addNewNameCounterparty">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 h4">
                                Counterparty's Description:
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="buttons" name="" id="addNewDescriptionCounterparty">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 h4">
                                 Registered Country:
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="buttons" name="" id="addNewAdress1Counterparty">
                            </div>
                        </div>
<!--                         <div class="row">
                            <div class="col-md-6 h4">
                                Counterparty Registration:
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="buttons" name="" id="addNewVitolSACounterparty">
                            </div>
                        </div>
           x    -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox h4">KYC Process <br>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <label>
                                    <input type="checkbox" value="" class="chBox" id="ClearingScreenOption"><span class="h5 ttip"> Cleared to Transact* <em> by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully ‘on-boarded this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information</em></span>
                                </label><br>
                                <label>
                                    <input type="checkbox" value="" class="chBox" id="TransactedwithoutCI"><span class="h5 ttip"> Transaction completed** <em>by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully completed a transaction of some form with this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information</em></span>
                                </label><br>
                            </div>
                            <!--<input type="text" class="buttons" name="" id="addNewAdress3Counterparty">-->

                        </div>
<!--                         <div class="row">
                            <div class="col-md-6 h4">
                                Counterparty Ledger:
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="buttons" name="" id="addNewViewLedgerCounterparty">
                            </div>
                        </div>
 -->

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <input type="button" id="key1" value="Add" onclick="addNewFirm()" style="width: 120px ">
                                <input type="button" id="key2" value="Add another" onclick="unhideButtons()" style="width: 120px;">
                                <input type="button" id="key3" value="Home" onclick="selectAdressOnAddPage()" style="width: 120px; margin-left: 20px; ">
                            </div>
                        </div>
                    </form>
                    <div class="row" id="takeAnotherFirm" style="margin: 10px; color:darkred;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container-fluid backspace-area">
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
            <a href="nav.html">
                <div class="backspace"></div>
            </a>
        </div>
    </div>
</div> -->

<footer>
<!--     <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner"> -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="line"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-disclaimer">
                            <a data-target="#modal-disclaimer" role="button" class="btn" data-toggle="modal">Disclaimer</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-help">
                            <a data-target="#modal-help" role="button" class="btn" data-toggle="modal">Help</a>
                        </div>
                    </div>
                                        <div>
                        <div class="footer_notes">
                        <p class="note">* Cleared and setup to Transact  = by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully ‘on-boarded this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information.</p>
                        <p class="note">** Transaction completed = by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully completed a transaction of some form with this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information.</p>
                    </div>  
                    </div>  
                </div>
            </div>
<!--         </div>
    </div> -->
</footer>

    <div class="modal fade" id="modal-help">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <ul>'3 ways to using this platform;'
                            <li>- 1 - search in the list of companies listed, click one, and see a who has already Account Cleared or even Transacted with them.</li>
                            <li>- 2 - choose to 'verify' any of these existing companies yourself, on the basis your company has also Cleared / Transacted with them.</li>
                            <li>- 3 - if a company is not listed, 'add counterparty' and declare you have Cleared / Transacted with them.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-disclaimer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Website Disclaimer</h4>
                </div>
                <div class="modal-body">
                    <p>This website is an experimental collaborative platform which is not intended, at this stage, to be used operationally.  To that end, BP nor any of the counterparties involved or referenced on this website, take any responsibility for the completeness, accuracy, reliability, suitability or availability of the information contained on this website for any purpose.  Any reliance placed on such information is therefore strictly at your own risk.  In no event will BP or any of the counterparties involved or referenced on this website be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>  
</body>
</html>