<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blockchain</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
</head>
<body>
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="header-title">Energy Industry KYC</div>
            </div>
            <div class="col-md-4 col-sm-2">
                <div  class="header-chain"></div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div>Shared Ledger</div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div id="logoutButtonId"><%- logoutButton %></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="line"> </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content_block">
                    <div class="row">
                        <div class="col-md-12">
                            <form onsubmit="return selectCounterparty()">
                                <input type="text" name="" id="counterparties" autofocus>
                                <input type="submit" num="0" id="selectCountr" name="" value="filter">
                                <input type="button" style="float:right" value="Add new Counterparty" onclick="window.location.href='/add'">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="h4" style="padding-left: 15px;">Please select one of counterparties in the table below to see counterparty's details and verification history</div>
                        <div class="col-md-5" id="counTable">
                            <div class=" table_block table-responsive" id="height1">
                                <table class="table table-striped table-condensed table-hover table-bordered" >
                                    <thead><tr><th>Counterparties</th></tr></thead>
                                    <tbody id="showCounterparty" >
                                    <%- firmsTable %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-7" id="tableAdr" style="opacity: .5;">
                            <div class="requisites_block" id="showAdress" id="height2">
                                <div class="row">
                                    <div class="col-md-4 h4">Counterparty's Name:</div>
                                    <div class="col-md-8 h5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 h4">Counterparty's Description:</div>
                                    <div class="col-md-8 h5"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 h4">Registered Country:</div>
                                    <div class="col-md-8 h5"></div>
                                </div>
                                <!--                                   <div class="row">
                                                                       <div class="col-md-4 h4">Counterparty Registration: </div>
                                                                       <div class="col-md-8 h5"></div>
                                                                       </div>-->
                                <div class="row">
                                    <div class="col-md-4 h4">KYC Process </div>
                                    <div class="col-md-8">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" disabled class="h5" style="font-size: 33px"><span class="h5 ttip"> Clearing Screen Option <em> by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully ‘on-boarded this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information</em></span>
                                            </label><br>
                                            <label>
                                                <input type="checkbox" value="" disabled class="h5"><span class="h5 ttip"> Transacted without Credit Issues <em>by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully completed a transaction of some form with this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information</em></span>                                            </label><br>
                                            <!--                                         <label>
                                                                                         <input type="checkbox" value="" disabled class="h5">Document Upload
                                                                                         </label>-->
                                        </div>
                                    </div>
                                </div>
                                <!--                            <div class="row">
                                                                <div class="col-md-4 h4">Counterparty Ledger: </div>
                                                                <div class="col-md-8 h5"></div>
                                                                </div>-->
                                <div class="row">
                                    <div class="col-md-4 h4">Blockchain Record ID:</div>
                                    <div class="col-md-8 h6" style="word-wrap: break-word"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 h4"></div>
                                    <div class="col-md-8 h5" style="word-wrap: break-word">Created on: by</div>
                                </div>

                            </div>
                            <div class="chekbox_block">
                                <div id="height3">
                                    <div class="row">
                                        <div class="col-md-4 h5">
                                            <label class="h6"><input type="checkbox" id="ChekBoxCleared" name="Cleared" value="Cleared" onclick="undisableButton()" disabled><span class="ttip"> Cleared <em> by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully ‘on-boarded this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information</em></span></label>
                                            <label class="h6"><input type="checkbox" id="ChekBoxTransacted" name="" value="Transacted" onclick="undisableButton()" disabled><span class="ttip"> Transacted <em> by ticking this box you are sharing with the community on this platform (listed here) that you as a company have successfully completed a transaction of some form with this legal entity but you nor the company you represent can be held liable in any way for decisions others make based on this information</em></span></label>
                                        </div>
                                        <div class="col md-8 h4">
                                            <input type="button" name="" id="verifyButton" value="verify" onclick="VerifyCounterparty()" style="margin-left: 9px" disabled>
                                            <span id="needLogin"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="etherErrMessage" style="margin-left: 270px; font-size: 21; color:darkred"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table_block table-responsive">
                                <table class="table table-striped table-condensed table-hover">
                                    <thead><tr><th style="width: 13.7%;">Counterparty User</th><th style="width: 7.9%;">Is Cleared</th><th style="width: 15.6%;">Has been Transacted</th><th style="width: 14%;">Date</th><th style="width: 48.6%;">Update Transaction: Blockchain ID</th></tr></thead>
                                    <tbody id="usersTable">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <script type="text/javascript" src="/javascripts/IndexScripts.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="footer-disclaimer">
                    <a data-target="#modal-disclaimer" role="button" class="btn" data-toggle="modal">Disclaimer</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-help">
                    <a data-target="#modal-help" role="button" class="btn" data-toggle="modal">Help</a>        
                </div>
            </div>
        </div>
    </div>
</footer>

    <div class="modal fade" id="modal-help">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <ul>'3 ways to using this platform;'
                            <li>- 1 - search in the list of companies listed, click one, and see a who has already Account Cleared or even Transacted with them.</li>
                            <li>- 2 - choose to 'verify' any of these existing companies yourself, on the basis your company has also Cleared / Transacted with them.</li>
                            <li>- 3 - if a company is not listed, 'add counterparty' and declare you have Cleared / Transacted with them.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-disclaimer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Website Disclaimer</h4>
                </div>
                <div class="modal-body">
                    <p>This website is an experimental collaborative platform which is not intended, at this stage, to be used operationally.  To that end, BP nor any of the counterparties involved or referenced on this website, take any responsibility for the completeness, accuracy, reliability, suitability or availability of the information contained on this website for any purpose.  Any reliance placed on such information is therefore strictly at your own risk.  In no event will BP or any of the counterparties involved or referenced on this website be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>  
</body>
</html>
