<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blockchain</title>
	<script type="text/javascript" src="/javascripts/IndexScripts.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

</head>
<body>
<div id="wrapper">
<div id="content">
<header class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-5">
				<div class="header-title">Energy Industry KYC</div>
			</div>
			<div class="col-md-4 col-sm-2">
				<div  class="header-chain"></div>
			</div>
			<div class="col-md-4 col-sm-5">
				<div>Shared Ledger</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="line"> </div>
			</div>
		</div>
	</div>
</header>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
				<div class="section-text">An experimental collaborative Industry ‘Know your Counterparty’ Account Opening support platform, using the Block Chain Shared Ledger. </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-2" style="min-height: 285px;min-width: 300px;">
				<div class="section_form">
					<div class="login_form" id="loginForm">
						<%- loginMenu %>
					</div>
					<div id="takeAnotherLogin"></div>
					<a data-target="#modal-disclaimer" role="button" class="btn" id="button_disclaimer" onmouseover="hoverForButton()" onmouseout="unhoverForButton()" data-toggle="modal" style="padding-top: 0px; color: red;">Disclaimer</a><br>
					<a href="#">Forgot password?</a><br>
					<a href="#">Registration</a>
				</div>
			</div>
			<div class="col-md-5">
				<div class="text-help">
					<ul>'3 ways to using this platform;'
						<li>- 1 - Search in the list of companies, click one, and see who has already ‘Account Cleared’ or even ‘Transacted’ with them.</li>
						<li>- 2 - Choose to 'verify' any of these existing companies yourself, on the basis your company has also ‘Cleared’ / ‘Transacted’ with them.</li>
						<li>- 3 - If a company is not listed, 'add counterparty' and declare you have ‘Cleared’ / ‘Transacted’ with them.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <div>
	Users: BP , Shell , Statoil , Total , Helm , Vinmar , Interchem<br>
	Password: 123
</div> -->
</div>
<footer>
<div id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="line"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="footer-disclaimer">
					<a data-target="#modal-disclaimer" role="button" class="btn" data-toggle="modal">Disclaimer</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="footer-help">
					<a data-target="#modal-help" role="button" class="btn" data-toggle="modal">Help</a>
				</div>
			</div>
		</div>
	</div>
</div>
</footer>
</div>
	<div class="modal fade" id="modal-help">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Help</h4>
				</div>
				<div class="modal-body">
					<p>
					<ul>'3 ways to using this platform;'
						<li>- 1 - Search in the list of companies, click one, and see who has already ‘Account Cleared’ or even ‘Transacted’ with them.</li>
						<li>- 2 - Choose to 'verify' any of these existing companies yourself, on the basis your company has also ‘Cleared’ / ‘Transacted’ with them.</li>
						<li>- 3 - If a company is not listed, 'add counterparty' and declare you have ‘Cleared’ / ‘Transacted’ with them.</li>
					</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-disclaimer">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4>Website Disclaimer</h4>
				</div>
				<div class="modal-body">
					<p>This website is an experimental collaborative platform which is not intended, at this stage, to be used operationally.  To that end, BP nor any of the counterparties involved or referenced on this website, take any responsibility for the completeness, accuracy, reliability, suitability or availability of the information contained on this website for any purpose.  Any reliance placed on such information is therefore strictly at your own risk.  In no event will BP or any of the counterparties involved or referenced on this website be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
					</p>
				</div>
			</div>
		</div>

 	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>  
</body>
</html>